body {
    display: flex;
    flex-direction: column;
   
}

main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}


article {
    flex: 2; 
    overflow-y: auto; 
}

aside {
    flex: 1; 
    overflow-y: auto; 
}

.works_on_smartphone {
    flex-direction: column;
}

.works_on_smartphone main {
    flex-direction: column;
}

.works_on_smartphone article, .works_on_smartphone aside {
    flex: none;
    width: 100%;
    overflow-y: auto;
}